  <% if controller_name != 'sessions' %>
   <div class="text-center">
     <%= link_to "Log in", user_session_path, class: "rainbow-underline" %><br />
   </div>
  <% end %>
  
  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
   <div class="text-center">
     <%= link_to "Sign up", new_user_registration_path, class: "rainbow-underline" %><br />
   </div>
  <% end %>

<style>
 .rainbow-underline {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.rainbow-underline:hover {
  background-size: 0 3px, 100% 3px;
}


</style>