<div class="container mb-2 mt-2 px-3 px-sm-0">
  <div class="row mt-4">
    <h1>幽霊の足音とは？</h1>
  </div>
  
  <div class="col-md-6">
    <div class="card mb-4">
      <p>心理、恐怖、ミステリー、ホラー、歴史や過去の事件について”恐怖”の種をつぶやくホラーコミュニティです。</p>
      <p>あなたの種が、いつか誰かの心を震わす”恐怖”に開花するかもしれませんし、はたまた有意義な人生の浪費になるかもしれません。</p>
      <p>お好きなように、あなたの感性で”恐怖”の種を植え付けてみましょう。</p>
    </div>
  </div>
</div>