<div class="container">
  <h1>幽霊の足音とは？</h1>
  
  <p>
    心理、恐怖、ミステリー、ホラー、歴史や過去の事件について”恐怖”の種をつぶやくホラーコミュニティです。
    あなたの種が、いつか誰かの心を震わす”恐怖”に開花するかもしれませんし、はたまた有意義な人生の浪費になるかもしれません。
    お好きなように、あなたの感性で”恐怖”の種を植え付けてみましょう。
  </p>
</div>