<div class="top">
  <div class="main">
    <%= image_tag("splatter.png", alt: "幽霊のイラスト", class: "ghost-image") %>
  </div>

  <div class="content text-center">
    <h2>ようこそ、廃墟の世界へ</h2>
    <p>廃墟と幽霊についての情報を発信しています。</p>
    <%= video_tag("sleep_ruins.mp4", autoplay: true, loop: true, muted: true, class: 'ruins-image') %>
    <p>廃墟の探索や幽霊の怪談、不思議な出来事についての記事や情報を提供しています。お楽しみください。</p>
  </div>
</div>