<div class="container" style="margin-top: 33px; margin-bottom: 22px; font-family: 'Monomaniac One', sans-serif;">
  <h3>きみへのアクション</h3>

  <% if @notifications.blank? %>
    <p>ここは静まりかえっている</p>
  <% else %>
    <%= render partial: 'notifications/notification', collection: @notifications %>
  <% end %>
</div>
