 .bookmark-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.bookmark-link i {
  margin-right: 5px;
}

.bookmark-link:hover {
  text-decoration: none;
  opacity: 0.7;
}

.bookmark-count {
    font-size: 22px;
    color: #999;
    margin-right: 10px;
    background-color: #f2f2f2;
    padding: 2px 5px;
    border-radius: 3px;
  }
  
.container {
  font-family: 'Yusei Magic', sans-serif;
}