.top {
  background-image: url("../images/b_00074.jpg");
  font-family: 'New Tegomin', serif;
  color: #fff;
}

.main {
  padding: 20px;
  text-align: center;
}

.ghost-image {
  max-width: 40px;
  margin: 20px auto;
}

.content {
  padding: 20px;
}

.content p {
  font-size: 18px;
  line-height: 1.5;
}

.ruins-image {
  width: 70%;
  margin: 20px auto;
  border-radius: 10%;
}