<div style="background-color: #A5D9D6; text-align: center;">
  <div class="row mh-10">
    <div class="mx-auto" style="height: 80px; display: flex; justify-content: center; align-items: center;">
      <i class="fab fa-twitter fa-lg icon-3d" style="font-size: 1.5em; margin-right: 5px;"></i>
      <i class="fab fa-line fa-lg icon-3d" style="font-size: 1.5em; margin-right: 6px;"></i>
      <i class="fab fa-instagram fa-lg icon-3d" style="font-size: 1.5em;"></i>
    </div>
  </div>
</div>

<style>
  .icon-3d {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
</style>