<header style="background-color: mintcream;">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="row w-100">
        <div class="col-9">
          <div class="row w-100 justify-content-end">
            <button class="navbar-toggler" style="color:#F5FFFA;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">obake</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>